#step3{
	margin: 10px 0px;
	padding: 10px 126px 30px;
	border-radius: 10px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;

	.tarjeta-pago{

		border-radius: 10px;
		border: solid 1px #cccccc;
		background-color: #ffffff;
		
		.tarjeta-body{
			padding: 20px;
		}

		.footer{
			border-top: 1px solid #cccccc;
			padding: 20px;
		}
	}
	.card-step{
		margin-bottom: 30px;
	}
}