<section id="pagoFacturas">
    <div class="container">
        <!-- Tarjeta principal -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-11 top-card">
                <div class="row ">
                    <div class="col-lg-2 icono d-inline-flex align-items-center">
                        <img src="assets/images/iconos/advertencia.png" alt="">
                    </div>
                    <div class="col-lg-10 description d-inline-flex align-items-center">
                        <p class="font-14">
                            Los convenios que encuentras aquí puedes pagarlos en canales digitales Bancolombia, si no encuentras la empresa que buscas, dirígete a los canales físicos Bancolombia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="steps text-center">
                <ul class="nav">
                    <li [routerLink]="['/pasouno']">
                        <a class="font-20 ">
                            1. Selecciona el tipo de servicio > 
                        </a>
                    </li>
                    <li [routerLink]="['/pasodos']">
                        <a class="font-20">
                            2. Selecciona la entidad o convenio >
                        </a>
                    </li>
                    <li [routerLink]="['/pasotres']">
                        <a class="font-20">
                            3. Conoce el canal de pago
                        </a>
                    </li>
                </ul>
            </div>
		</div> 
		
<section class="col-md-12">
	<div id="step3">
		<div class="content">
			<h3 class="text-center text-bold font-20 my-4">
				Conoce el canal de pago
			</h3>
			<div class="row content-title">
				<div class="col-lg-9">
					<p class="font-28 mb-0">
						{{convenio.nombreConvenio}} 
					</p>
					<p class="font-20 mb-0">
						{{categoria.nombreCategoria}}
					</p>
				</div>
				<div class="col-lg-3">
					<p class="font-20 mb-0">
						Convenio  #{{convenio.numeroConvenio}}
					</p>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-lg-6 card-step" *ngIf="isPagoSucursalVirtual">
					<div class="tarjeta-pago">
						<div class="tarjeta-body ">
							<div class="row ">
								<div class="col-12 col-lg-3">
									<img src="assets/images/iconos/app.png" alt="" class="text-center d-block mx-auto">
								</div>
								<div class="col pt-2">
									<p class="mb-0 font-20">
										App Bancolombia
									</p>
									<p class="mb-0 font-16">
										Canal digital
									</p>
								</div>
							</div>
						</div>
						<div class="footer d-flex">
							<a href="#" class="font-16">
								CÓMO PAGARLO
							</a>
							<span class="ml-auto">
								<img src="https://www.grupobancolombia.com/wps/wcm/connect/9b0db2b1-d8a7-4209-b189-8007f9d596ea/arrow.svg?MOD=AJPERES" alt="">
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 card-step" *ngIf="isPagoSucursalVirtual">
					<div class="tarjeta-pago">
						<div class="tarjeta-body ">
							<div class="row ">
								<div class="col-12 col-lg-3">
									<img src="assets/images/iconos/sucursal.png" alt="" class="text-center d-block mx-auto">
								</div>
								<div class="col pt-2">
									<p class="mb-0 font-20">
										Sucursal Virtual Personas
									</p>
									<p class="mb-0 font-16">
										Canal digital
									</p>
								</div>
							</div>
						</div>
						<div class="footer d-flex">
							<a href="#" class="font-16">
								CÓMO PAGARLO
							</a>
							<span class="ml-auto">
								<img src="https://www.grupobancolombia.com/wps/wcm/connect/9b0db2b1-d8a7-4209-b189-8007f9d596ea/arrow.svg?MOD=AJPERES" alt="">
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 card-step" *ngIf="isPagoSucursalVirtual">
					<div class="tarjeta-pago">
						<div class="tarjeta-body ">
							<div class="row ">
								<div class="col-12 col-lg-3">
									<img src="assets/images/iconos/a-la-mano.png" alt="" class="text-center d-block mx-auto">
								</div>
								<div class="col pt-2">
									<p class="mb-0 font-20">
										Bancolombia a la mano
									</p>
									<p class="mb-0 font-16">
										Canal digital
									</p>
								</div>
							</div>
						</div>
						<div class="footer d-flex">
							<a href="#" class="font-16">
								CÓMO PAGARLO
							</a>
							<span class="ml-auto">
								<img src="https://www.grupobancolombia.com/wps/wcm/connect/9b0db2b1-d8a7-4209-b189-8007f9d596ea/arrow.svg?MOD=AJPERES" alt="">
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 card-step" *ngIf="isPagoCorresponsalBancario">
					<div class="tarjeta-pago">
						<div class="tarjeta-body ">
							<div class="row ">
								<div class="col-12 col-lg-3">
									<img src="assets/images/iconos/bancario.png" alt="" class="text-center d-block mx-auto">
								</div>
								<div class="col pt-2">
									<p class="mb-0 font-20">
										Corresponsal Bancario
									</p>
									<p class="mb-0 font-16">
										Canal digital
									</p>
								</div>
							</div>
						</div>
						<div class="footer d-flex">
							<a href="#" class="font-16">
								CÓMO PAGARLO
							</a>
							<span class="ml-auto">
								<img src="https://www.grupobancolombia.com/wps/wcm/connect/9b0db2b1-d8a7-4209-b189-8007f9d596ea/arrow.svg?MOD=AJPERES" alt="">
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 card-step" *ngIf="isPagoCajero">
					<div class="tarjeta-pago">
						<div class="tarjeta-body ">
							<div class="row ">
								<div class="col-12 col-lg-3">
									<img src="assets/images/iconos/cajero.png" alt="" class="text-center d-block mx-auto">
								</div>
								<div class="col pt-2">
									<p class="mb-0 font-20">
										Cajeros Automáticos
									</p>
									<p class="mb-0 font-16">
										Canal digital
									</p>
								</div>
							</div>
						</div>
						<div class="footer d-flex">
							<a href="#" class="font-16">
								CÓMO PAGARLO
							</a>
							<span class="ml-auto">
								<img src="https://www.grupobancolombia.com/wps/wcm/connect/9b0db2b1-d8a7-4209-b189-8007f9d596ea/arrow.svg?MOD=AJPERES" alt="">
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 card-step"  *ngIf="isPagoCaja">
					<div class="tarjeta-pago">
						<div class="tarjeta-body ">
							<div class="row ">
								<div class="col-12 col-lg-3">
									<img src="assets/images/iconos/fisica.png" alt="" class="text-center d-block mx-auto">
								</div>
								<div class="col pt-2">
									<p class="mb-0 font-20">
										Sucursales físicas
									</p>
									<p class="mb-0 font-16">
										Canal digital
									</p>
								</div>
							</div>
						</div>
						<div class="footer d-flex">
							<a href="#" class="font-16">
								CÓMO PAGARLO
							</a>
							<span class="ml-auto">
								<img src="https://www.grupobancolombia.com/wps/wcm/connect/9b0db2b1-d8a7-4209-b189-8007f9d596ea/arrow.svg?MOD=AJPERES" alt="">
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Botón siguiente -->

<div class="row mt-5 w-100" id="botonReturn">
	<div class="col-md-12">
		<button class="font-18" [routerLink]="['/pasodos']">REGRESAR</button>
	</div>
</div>
	</div>
</section>
