<div *ngIf="showComponent">
<section id="pagoFacturas">
    <div class="container">
        <!-- Tarjeta principal -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-11 top-card">
                <div class="row ">
                    <div class="col-lg-2 icono d-inline-flex align-items-center">
                        <img src="assets/images/iconos/advertencia.png" alt="">
                    </div>
                    <div class="col-lg-10 description d-inline-flex align-items-center">
                        <p class="font-14">
                            Los convenios que encuentras aquí puedes pagarlos en canales digitales Bancolombia, si no encuentras la empresa que buscas, dirígete a los canales físicos Bancolombia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="steps text-center">
                <ul class="nav">
                    <li >
                        <a class="font-20 " [routerLink]="['/']">
                            1. Selecciona el tipo de servicio > 
                        </a>
                    </li>
                    <li>
                        <a class="font-20"  [routerLink]="['/pasodos']">
                            2. Selecciona la entidad o convenio >
                        </a>
                    </li>
                    <li >
                        <a class="font-20" [routerLink]="['/pasotres']">
                            3. Conoce el canal de pago
                        </a>
                    </li>
                </ul>
            </div>
		</div> 
		<!-- Contenido de paso a paso -->
		<div class="row" id="content">
			<p class="text-center font-20 text-bold w-100">
				Selecciona el tipo de servicio que quieres pagar
			</p>
		</div>
				
		<div class="row" *ngIf="categorias">
			<div class="col-4 col-md-2 col-lg-2 col-sm-3 text-center mb-5 aqui"  *ngFor="let categoria of categorias" (click)="selectCategory(categoria, $event)" >
				<figure class="aqui">
					<img src="https://www.grupobancolombia.com{{categoria.iconoCategoria}}" alt="" class="img-categoria aqui">
				</figure>
				<p class="font-14">
					{{categoria.nombreCategoria}}
				</p>
			</div>
		</div>

		<!-- Botón siguiente -->

		<div class="row" id="boton">
			<div class="col-md-12">
				<button class="font-18" (click)="goToStepTwo()" [routerLink]="['/pasodos']">SIGUIENTE</button>
			</div>
		</div>
	</div>
</section>
</div>