#boton {
	button{
		background-color: #ffd200;
		border-radius: 20px;
		border: none;
		margin: 0 auto;
		display: block;
		padding: 7px 60px;
		font-weight: 500;
		position: relative;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.16);
		&:after{
			content: "";
			position: absolute;
			background-image: url('https://www.grupobancolombia.com/wps/wcm/connect/9b0db2b1-d8a7-4209-b189-8007f9d596ea/arrow.svg?MOD=AJPERES');
			right: 11%;
			width: 15px;
			height: 15px;
			background-size: 100%;
			background-repeat: no-repeat;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
}