

<section id="pagoFacturas">
	
    <div class="container">
        <!-- Tarjeta principal -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-11 top-card">
                <div class="row ">
                    <div class="col-lg-2 icono d-inline-flex align-items-center">
                        <img src="assets/images/iconos/advertencia.png" alt="">
                    </div>
                    <div class="col-lg-10 description d-inline-flex align-items-center">
                        <p class="font-14">
                            Los convenios que encuentras aquí puedes pagarlos en canales digitales Bancolombia, si no encuentras la empresa que buscas, dirígete a los canales físicos Bancolombia.
                        </p>
                    </div>
                </div>
			</div>
			<br>
            <div class="steps text-center">
                <ul class="nav">
                    <li [routerLink]="['/pasouno']">
                        <a class="font-20 ">
                            1. Selecciona el tipo de servicio > 
                        </a>
                    </li>
                    <li [routerLink]="['/pasodos']">
                        <a class="font-20">
                            2. Selecciona la entidad o convenio >
                        </a>
                    </li>
                    <li [routerLink]="['/pasotres']">
                        <a class="font-20">
                            3. Conoce el canal de pago
                        </a>
                    </li>
                </ul>
            </div>
		</div> 
		<!-- Contenido de paso a paso -->
		<div class="row " id="content">
			<div class="col-lg-2 d-inline-flex align-items-center">
				<figure>
				<img src="https://www.grupobancolombia.com{{categoria.iconoCategoria}}" alt="" class="mr-3">
				</figure>
					
				<p class="mb-0 font-14">
					{{categoria.nombreCategoria}}
				</p>
			</div>
			<div class="col-lg-8 d-inline-flex align-items-center">
				<p class="text-center font-20 text-bold w-100 mb-0 ">
					Selecciona la entidad de la factura que quieres pagar
				</p>
			</div>
		</div>
			

		<div class="row" id="step2">
			<div class="col-lg-6 col-12 col-md-6 col-sm-6"  *ngFor="let convenio of convenios | slice:0:show; let i=index">
				<div class="tarjeta d-lg-flex align-items-center">
					<div class="col-lg-8 col-12">
						<p class="font-13 mb-0">
							{{convenio.nombreConvenio}}
						</p>
						<p class="text-bold mb-0">
							{{convenio.numeroConvenio}}
						</p>
					</div>
					<div class="col-lg-4 px-2 text-center col-12">
						<button class="btn-blue font-18 mx-auto" (click)="goToStepThree(convenio)" [routerLink]="['/pasotres']">
							CONSULTAR
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Botón ver más -->

		<div class="row mb-5" id="botonViewMore" *ngIf="show < convenios.length" (click)="verMas()">
			<div class="col-md-12">
				<p class="font-18 text-center text-underline">
					Ver más 
				</p>
			</div>
		</div>
	</div>
	<!-- Botón siguiente -->

	<div class="row" id="botonReturn">
		<div class="col-md-12">
			<button class="font-18" [routerLink]="['/pasouno']">REGRESAR</button>
		</div>
	</div>
</section>
