/* You can add global styles to this file, and also import other style files */
#pagoFacturas{
	padding: 20px 10px 30px;
	background-color: #f7f7f7;
	.top-card{
		overflow: hidden;
		background-color: #fff;
		box-shadow: 0px 2px 3px 0px #e6e6e6;
		border-radius: 4px;
		border: 1px solid #eaeaea;
		
		.icono{
			background-color: #f7f7f7;
			padding: 10px;
			img{
				display: block;
				margin: 0 auto;
			}
		}

		.description{
			padding: 20px 60px;
			p{
				margin: 0px;
			}
		}
	}
	.steps{
		margin: 25px auto;
		li{
			padding: 0px 10px 0px 0px;
			&.text-active{
				a{
					font-weight: 700;
					border-bottom: 2px solid #ffc20e;
				}
			}

			a{
				color: #58595b;
				padding-bottom: 10px;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	#step2{
		margin-bottom: 30px;
		.tarjeta{
			border-radius: 10px;
			border: solid 1px #d7d7d7;
			background-color: #ffffff;
			padding: 18px 0px;
			margin-bottom: 20px;

			button.btn-blue{
				color: #00448d;
				min-width: auto;
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.16);
				border: 1px solid #00448d;
				padding: 8px 22px;
				border-radius: 60px;
				background: white;
				font-weight: 700;
			}
		}
	}
	#content{
		margin: 3% auto;
	}
	a{
		cursor: pointer;
		color: #58595b;
	}
	.step-active{
		font-weight: 700;
	}


	.font-13{
		font-size: 13px;
	}
	.font-14{
		font-size: 14px;
	}
	.font-16{
		font-size: 16px;
	}
	.font-18{
		font-size: 18px;
	}
	.font-20{
		font-size: 20px;
	}
	.font-28{
		font-size: 28px;
	}
	.text-bold{
		font-weight: 700;
	}

	/*.img-categoria{
		border: 2px solid #fed002;
		padding: 11px;
		margin-bottom: 13px;
		border-radius: 50%;
		background: white;
		width: 70px;
		height: 70px;
	}
	*/

	figure.text-active,
	.text-active figure{
			margin: auto;
			border: 2px solid #fff;
			box-shadow: 0px 0px 1px 1px lightgray;
			background: #ffd200;
			padding: 12px;
			margin-bottom: 13px;
			border-radius: 50%;
			width: 76px;
			height: 76px;
	}

	figure{
		cursor: pointer;
		line-height: 2.7;
		margin: auto;
		border: 2px solid #fed002;
		padding: 12px;
		margin-bottom: 13px;
		border-radius: 50%;
		background: white;
		width: 76px;
		height: 76px;
	}

	.text-active{
		a{
			font-weight: 700;
		}
/* 		img{
			background: #ffbf00;
			border-radius: 50%;
			padding: 0px;
			box-shadow: 0px 0px 1px 1px lightgray;
			border: 1px solid #fff;
		} */
		
	}

	p.text-underline{
		cursor: pointer;
		text-decoration: underline;
		position: relative;
		max-width: 140px;
		margin: 0 auto;
		&:after{
			content: "";
			position: absolute;
			background-image: url('https://www.grupobancolombia.com/wps/wcm/connect/9b0db2b1-d8a7-4209-b189-8007f9d596ea/arrow.svg?MOD=AJPERES');
			right: 11%;
			width: 15px;
			height: 15px;
			background-size: 100%;
			background-repeat: no-repeat;
			top: 3px;
			bottom: 0;
			margin: auto;
			transform: rotate(90deg);
		}
	}
	p.text-underline2{
		cursor: pointer;
		text-decoration: underline;
		position: relative;
		max-width: 140px;
		margin: 0 auto;
		&:after{
			content: "";
			position: absolute;
			background-image: url('https://www.grupobancolombia.com/wps/wcm/connect/9b0db2b1-d8a7-4209-b189-8007f9d596ea/arrow.svg?MOD=AJPERES');
			right: 11%;
			width: 15px;
			height: 15px;
			background-size: 100%;
			background-repeat: no-repeat;
			top: 3px;
			bottom: 0;
			margin: auto;
			transform: rotate(-90deg);
		}
	}

	#botonReturn,
	#boton {
		button{
			background-color: #ffd200;
			border-radius: 20px;
			border: none;
			margin: 0 auto;
			display: block;
			padding: 7px 60px;
			font-weight: 500;
			position: relative;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.16);
			&:after{
				content: "";
				position: absolute;
				background-image: url('https://www.grupobancolombia.com/wps/wcm/connect/9b0db2b1-d8a7-4209-b189-8007f9d596ea/arrow.svg?MOD=AJPERES');
				right: 11%;
				width: 15px;
				height: 15px;
				background-size: 100%;
				background-repeat: no-repeat;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}

	#botonReturn{
		button{
			&:after{
				background-image: none;
			}
		}
	}
}

@media screen and (max-width: 768px){
	#pagoFacturas p.font-14{
		font-size: 11px !important;
	}

	#pagoFacturas #step2 button{
		margin-top: 10px;
	}
	#pagoFacturas #step2 .tarjeta{
		text-align: center;
	}
	#pagoFacturas #step3 {
		padding: 14px;
	}
}
@media screen and (max-width: 360px){
	#pagoFacturas p.font-14{
		font-size: 11px !important;
	}

	#pagoFacturas #step2 button{
		margin-top: 10px;
	}
	#pagoFacturas #step2 .tarjeta{
		text-align: center;
	}
}